In [1]:
import duckdb
import pandas as pd
import sqlalchemy

In [2]:
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [3]:
%sql duckdb:////workspace/ds4fnp/meltano/load/db.duckdb

In [5]:
%sql SELECT 'Off and flying!' as a_duckdb_column

   a_duckdb_column
0  Off and flying!

In [6]:
%%sql 
PRAGMA show_tables;

                   name
0  mit__house_elections

In [7]:
%sql SELECT * FROM tap_spreadsheets_anywhere.mit__house_elections;

Empty DataFrame
Columns: []
Index: []

In [8]:
my_df

NameError: name 'my_df' is not defined